[Unit]
Description=Fetch bootc image
After=network-online.target
Wants=network-online.target
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
ExecStart=/usr/bin/just --justfile /usr/share/just/justfile bootc-upgrade
