[Unit]
Description=Install Homebrew
ConditionPathExists=!/var/home/linuxbrew/.linuxbrew/bin/brew

[Service]
Type=oneshot
ExecStart=/usr/bin/just --justfile /usr/share/just/justfile homebrew-setup

[Install]
WantedBy=multi-user.target
