[Unit]
Description=Update Flatpak
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak remote-add --if-not-exists --system flathub /etc/flatpak/remotes.d/flathub.flatpakrepo
ExecStart=/usr/bin/flatpak remote-modify --system --enable flathub || true
ExecStart=/usr/bin/flatpak remote-modify --system --disable fedora || true
ExecStart=/usr/bin/bash -c 'flatpak --user -y --noninteractive install $(curl -s https://raw.githubusercontent.com/emblem-66/bootc-config/refs/heads/main/flatpak-packages | tr "\n" " ")'
ExecStart=/usr/bin/flatpak update --noninteractive --assumeyes
ExecStart=/usr/bin/flatpak uninstall --unused --noninteractive --assumeyes

[Install]
WantedBy=multi-user.target
