[Unit]
Description=File Receiver Service for Taildrop

[Service]
#UMask=0077
#User=pc
#ExecStart=tailscale file get --verbose --loop --conflict rename "${HOME}/Downloads/Taildrop"
#Environment=TAILDROPDIR=%h/Downloads/Taildrop
#ExecStart=/usr/bin/tailscale file get --verbose --loop "$TAILDROPDIR"
ExecStart=/usr/bin/tailscale file get --verbose --loop --conflict rename "%h/Downloads/Taildrop"

[Install]
#WantedBy=default.target
WantedBy=multi-user.target
