[Unit]
Description=Update Flatpak
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
# Install list of flatpak apps from my repo
#ExecStart=/usr/bin/bash -c 'curl -sSL https://raw.githubusercontent.com/emblem-66/Linux-Stuff/refs/heads/main/flatpak/packages | xargs -r flatpak install -y --noninteractive'
# Install list of flatpak apps from ~/.flatpak-apps.list
#ExecStart=/usr/bin/bash -c 'cat ~/.flatpak-apps.list | xargs -r flatpak install -y --noninteractive'
### ExecStart=/usr/bin/flatpak update --noninteractive --assumeyes
### ExecStart=/usr/bin/flatpak uninstall --unused --noninteractive --assumeyes
#ExecStart=/usr/bin/just flatpak-update
ExecStart=/usr/bin/just --justfile /usr/share/just/justfile flatpak-update
[Install]
WantedBy=multi-user.target
